{% extends 'TwigBundle:Exception:parent.html.twig' %}

{% block title %}Datei nicht gefunden{% endblock %}
{% block middle_title %}
    <h1 class="title"><a href="">Datei nicht gefunden</a></h1>
{% endblock %}
{% block content %}
    <div class="border_shadow">
        <br>
        <strong>Datei nicht gefunden</strong>
        <br><br>



        <p>
            <br />
            Die Seite, nach der Sie suchen, ist entweder entfernt worden, ihr Name ist geändert worden oder sie ist im
            Moment nicht verfügbar.
        </p>



    </div>
{% endblock %}