<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="digitalmobil" />
        <meta name="ROBOTS" content="noindex,nofollow" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
<body>
{% block body %}
{% endblock %}
{% block javascripts_footer %}
{% endblock %}
</body>
</html>
